@media (max-width: 935px) {
    .sidebar {
        display: none;
    }

    .conteudo-pagina {
        width: 100%;
        justify-content: center;
    }

    .barra-topo-conteudo {
        width: 100%;
        padding: 0px 20px;
    }
}